.App{
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.word-count-button {
    background-color: #282c34;
    border: 1px solid white;
    color: white;
}

.word-count-button:hover {
    color: #4299e1;
}